In [23]:
import pandas as pd
import requests
from datetime import date, datetime

In [7]:
limit = 100
dfMovies = pd.read_json(f'http://localhost:8000/movies?limit={limit}')
dfMovies.set_index('id', inplace=True)

In [ ]:
dfStatsMovieByYear = pd.read_json('http://localhost:8000/movies/count_by_year')
dfStatsMovieByYear.columns=['year', 'movie_count']

In [30]:
res = requests.get('http://localhost:8000/stars/stats_movie_by_director')
assert res.status_code == 200
    
json = res.json()
    
flatten = [ {**director_dict, 'movie_count': movie_count} for director_dict, movie_count in json]
out = pd.DataFrame(flatten, )
out[~out.birthdate.isnull()].birthdate.apply(lambda bd: datetime.strptime(bd, '%Y-%m-%d').date())

    birthdate  id              name  movie_count
0  1899-08-13  33  Alfred Hitchcock           48